@charset "ISO-8859-1";

body{
	padding: 80px;
	background-color: #dadada;
}

#contentAll{
	background-color: #926221;
    color: wheat;
    padding: 40px
}

.name{
	width: 400px;
}

.errorMessage, 
.errorLabel{
	color: white;
}